body{
    margin: 0;
    font-family:"Lucida Console", "Courier New", monospace,sans-serif;
    background-color: #FFFBF3;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    overflow-y: scroll;
    display: block;
}
.topnav a{
    float: left;
    color:#1D2951;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    width: 60px;
}
.topnav a:hover{
    font-weight: 800;
}
 .active{
    font-weight: 800!important;
}
.topnav-right {
    float: right;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90px;
    height:90px;
    border-radius: 50%;
    position: static;
}
.name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    height:90px;
    font-size: 30px;
    font-weight: 700;
    
}
.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:170px;
    height:90px;
    font-size: 20px;
    font-weight: 400;
    margin-top: -50px;   
}
.about-pic{
    margin-left: 100px;
    margin-right: auto;
    width:800px;
    height:500px;
    border-radius: 50%;
    position: static;
    display: flex;
    margin-bottom: 300px;
    
}
.about-text{
    margin-left: 50px;
    margin-right: 50px;
    width: 1600px;
    margin-top: 100px;
}